@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

* {
    font-family: 'Kanit', sans-serif;
    transition: 0.3s ease;
    scroll-behavior: smooth;
}

::selection {
    background-color: #9b04c5aa;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0px 100px;
}

header img {
    height: 100px;
}

header nav a {
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

header a:hover {
    opacity: 0.5;
}


footer {
    padding: 50px;
    text-align: center;
}

footer p {
    color: #999999;
    text-decoration: none;
    margin: 5px;
    font-weight: 300;
}

main {
    padding: 20px 100px;
}

section {
    padding: 20px 0px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #9a04c5;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
}

button:hover {
    transform: scale(1.2)
}

button:active {
    transform: scale(0.8)
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.game-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 1.5s;
}

.game-card:hover img {
    transform: scale(1.5);
}

.game-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #ffffff;
    text-align: center;
}

.game-card:hover .game-overlay {
    opacity: 1;
}

.game-overlay h3 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.game-overlay button {
    padding: 6px 12px;
    border: 2px solid #ffffff;
    background: transparent;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.game-overlay button:hover {
    background: #ffffff;
    color: #000000;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.team-card {
    position: relative;
    overflow: hidden;
    background-color: #999999;
    cursor: default;
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.team-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #ffffff;
    text-align: center;
}

.team-card:hover .team-overlay {
    opacity: 1;
}

.team-card:hover img {
    opacity: 0.5;
    transform: scale(1.2);
}

.team-overlay h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

.team-overlay p {
    font-size: 1rem;
}

.social-links {
    margin: 10px;
}

.social-links a {
    font-size: 1.5rem;
    margin: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}

.social-links a:hover {
    opacity: 0.5;
}

a {
    color: #9a04c5;
}

.heading {
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
}

#hero {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("/RobloxScreenShot20260212_200723909.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 5rem;
    margin: 0;
    line-height: 0.9;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: 400;
    line-height: 0.9;
}

.hero-buttons button {
    margin: 30px 20px 0px 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #000000;
}

.hero-buttons button:hover {
    background-color: #fff;
    color: #000;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    background-color: #999999;
    overflow: hidden;
    cursor: zoom-in;
}

.gallery-item img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.gallery-item:hover img {
    transform: scale(1.2);
    opacity: 0.5;
}

#lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.8);
}

#lightbox.active {
    opacity: 1;
    visibility: visible;
}

#lightbox.active img {
    transform: scale(1);
}

#lightbox-close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 3rem;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 768px) {

    header {
        padding: 12px 20px;
        text-align: center;
        display: block;
    }

    header img {
        height: 150px;
    }

    header nav a {
        font-size: 1.25rem;
        margin: 0px 5px 0px 5px;
    }

    main {
        padding: 20px;
    }

    section {
        padding: 15px 0;
    }

    button {
        padding: 8px 14px;
        font-size: 1rem;
    }

    .games-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .game-overlay h3 {
        font-size: 2.2rem;
    }

    .team-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px;
    }

    .team-overlay h3 {
        font-size: 1rem;
    }

    .team-overlay p {
        font-size: 0.8rem;
    }

    footer {
        padding: 30px 15px;
        font-size: 0.9rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .social-links a {
    font-size: 1.25rem;
    margin: 5px;
}
#hero {
    height: 66vh;
}

.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    font-size: 1rem;
}

.hero-buttons button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 1.25rem;
}

.gallery-grid {
        grid-template-columns: 1fr;
    }
}