@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

* {
    font-family: 'Kanit', sans-serif;
    transition: 0.3s ease;
    scroll-behavior: smooth;
}

::selection {
    background:#9a04c5;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 0px 100px;
}

header img {
    height: 75px;
}

footer {
    padding: 0px 100px 30px 100px;
    text-align: center;
}

footer p {
    font-size: 1rem;
    text-decoration: none;
    margin: 5px;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.5;
}

footer p span {
    user-select: none;
    margin: 0px 5px 0px 5px;
    opacity: 0.25;
    font-weight: 300;
}

main {
    padding: 20px 100px;
}

section {
    padding: 20px 0px;
}

#team {
    text-align: center;
}

#team button {
    margin: 50px;
}

button {
    padding: 5px 20px;
    border: none;
    background: none;
    border: 3px solid #9a04c5;
    color: #9a04c5;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1080px;
}

button:hover {
    background-color: #9a04c5;
    color: #ffffff;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.team-card {
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    aspect-ratio: 1/1;
    border-radius: 12px;
    cursor: pointer;
}

.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.team-overlay {
    position: absolute;
    inset: 0;
    background: #00000090;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #ffffff;
    text-align: center;
}

.team-card:hover .team-overlay {
    opacity: 1;
}

.team-card:hover img {
    transform: scale(1.2);
    filter: blur(5px);
}

.team-overlay h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

.team-overlay p {
    font-size: 1rem;
}

a {
    color: #9a04c5;
}

.heading {
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 20px 0;
    text-align: center;
}

#backToTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #000000;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#hero {
    height: 75vh;
    background: linear-gradient(#9a04c590, #00000090), url("thumb.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    border-radius: 12px;
}

.hero-content h1 {
    font-size: 5rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 20px 0;
    font-weight: 400;
    line-height: 1.6;
}
.hero-content .logo {
    height: 250px;
    margin-bottom: 100px;
}
.hero-content .rbx-badge {
    height: 100px;
}
.hero-buttons button {
    margin: 30px 10px 0px 10px;
    padding: 5px 20px;
    background: none;
    border: 3px solid #ffffff;
    color: #ffffff;
}

.hero-buttons button:hover {
    background-color: #ffffff;
    color: #000000;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 12px;
}

.gallery-item img {
    width: 100%;
    object-fit: cover;
    display: block;
    background: #f5f5f5;
}

.gallery-item:hover img {
    transform: scale(1.2);
    background: #d5d5d5;
}

#lightbox {
    position: fixed;
    inset: 0;
    background: #000000dd;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    transform: scale(0.8);
    border-radius: 12px;
}

#lightbox.active {
    opacity: 1;
    visibility: visible;
}

#lightbox.active img {
    transform: scale(1);
}

#lightbox-close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 3rem;
    color: #ffffff;
    cursor: pointer;
}


.split-section {
    margin: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.split-image {
    flex: 1;
}

.split-image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.split-content {
    flex: 1;
}

.split-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.split-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    line-height: 1.6;
}
@media (max-width: 768px) {

    header {
        padding: 20px 20px 0px 20px;
    }

    header img {
        height: 100px;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    section {
        padding: 15px 0;
    }

    button {
        padding: 8px 14px;
        font-size: 1rem;
    }

    .team-grid, .partners-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }

    .team-overlay h3 {
        font-size: 1rem;
    }

    .team-overlay p {
        font-size: 0.8rem;
    }

    footer {
        padding: 30px 15px;
    }

    footer p {
    font-size: 0.75rem;
}

footer p span {
    margin: 0px 2.5px 0px 2.5px;
}

    .heading {
        font-size: 2.5rem;
    }

    .social-links a {
    font-size: 1.25rem;
    margin: 5px;
}
#hero {
    height: 70vh;
}

.hero-content h1 {
    font-size: 3rem;
}
.hero-content .logo {
    height: 150px;
}
.hero-content .rbx-badge {
    height: 75px;
}
.hero-content p {
    font-size: 1rem;
}

.hero-buttons button {
    margin-top: 20px;
    font-size: 1.3rem;
}

.gallery-grid {
        grid-template-columns: 1fr;
    }

    #backToTop {
    bottom: 70px;
}
 .split-section {
        flex-direction: column;
    }
.split-content h2 {
    font-size: 2rem;
}

.split-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: left;
}

}
